body {
    background-color: rgb(168, 79, 6);
    color: white;
    font-family: 'Lato', sans-serif;
}
nav .brand{
    color: rgb(168, 79, 6);
    font-weight: bold;
}
.card-body a {
    color: rgb(168, 79, 6);
}
a:hover,
a:active {
    font-weight: bold;
}

.btn:hover {
    font-size: larger;
}
.btn-success:hover,
.btn-danger:hover {
    font-size: medium;
}
.span-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.span-link:hover {
    font-size: larger;
    font-weight: bolder;
}